@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authorization;
@using FunGuide.Areas.Data;


@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]FunGuide</title>
    <link rel="stylesheet" href="~/css/bootstrap.min1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FunGuide.styles.css" asp-append-version="true" />


</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
           @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">*@
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Activities" asp-action="Index">FunGuide</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">About Us</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Career">Career</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                         </li>


                         
                         @if (SignInManager.IsSignedIn(User))
                         {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="UserActivities" asp-action="Index">Cart</a>
                            </li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Activities" asp-action="ActivityList">Activity List</a>
                                </li>
@*                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                                </li>*@

                            }

                           @* else
                            {

                            }*@

                        }     
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>



    <div class="jumbotron">
        <div class="container text-center">
            <h1>FunGuide</h1>
            <p>Take the time to enjoy the lime.</p>
        </div>
    </div>


    <p align="center">
        <a href="/Activities">All</a>   |
        <a href="/Activities?ActivitiesCategory=Theme+Parks">Theme Parks</a>   |
        <a href="/Activities?ActivitiesCategory=Museums">Museums</a>   |
        <a href="/Activities?ActivitiesCategory=Day+Trips">Day Trips</a>   |
        <a href="/Activities?ActivitiesCategory=Attraction+Passes">Attraction Passes</a>
    </p>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer align="center "class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FunGuide Pte. Ltd. - All Rights Reserved. - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
        </div>

  
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
