@{
    ViewData["Title"] = "Career";
}
<br />
<h3 align="center">Join the Team!</h3>
@*<div class="text-center">
    <h1 class="display-4">Join the Team!</h1>
    
    <br />
    <h5><a href="mailto:careers@funguide.com?subject=Application%20for%20Sales%20Executive">Sales Executive</a></h5>
<h5><a href="mailto:careers@funguide.com?subject=Application%20for%20Travel Advisor">Travel Advisor</a></h5>
<h5><a href="mailto:careers@funguide.com?subject=Application%20for%20Office%20Administrator">Office Administrator</a></h5>
<h5><a href="mailto:careers@funguide.com?subject=Application%20for%20Reservation%20Ticketing%20Officer">Reservation Ticketing Officer</a></h5>
</div>*@
<br/>
<p>Thank you for your interest in joining the team at FunGuide! Here are some examples of job openings that may be available:</p>

<p>
    <a href="mailto:careers@funguide.com?subject=Application%20for%20Sales%20Executive">Sales Executive</a> <br />
    <a href="mailto:careers@funguide.com?subject=Application%20for%20Travel Advisor">Travel Advisor</a> <br />
   <a href="mailto:careers@funguide.com?subject=Application%20for%20Office%20Administrator">Office Administrator</a> <br />
    <a href="mailto:careers@funguide.com?subject=Application%20for%20Reservation%20Ticketing%20Officer">Reservation Ticketing Officer</a> <br />
</p>

<p>At FunGuide, we're always looking for talented individuals to join our team. If you don't see a current opening that matches your skillset, we encourage you to submit your resume and cover letter for future consideration. We're always interested in hearing from passionate and motivated individuals who share our commitment to creating amazing experiences for our customers.</p><br/>

<p>To apply for a position, please submit your application to careers@funguide.com. We'll review your application and contact you if there's a potential fit. Thank you for considering a career with FunGuide - we can't wait to hear from you!</p>
