@{
    ViewData["Title"] = "About Us Page";
}
<br />
<h4 align="center">Contact Us</h4>
<div class="text-center">
    
    <br />
    <p>FunGuide Pte. Ltd.<br />
        23 Tampines Street<br />
        Singapore 0620<br />
        Phone: +65 123456<br />
        Email: sales@funguide.com<br />
    </p>
</div>
